.cardContainer {
	height: 500px;
	width: 500px;
	max-width: 1000px;
	border: 1px solid red;
	overflow: auto;
	position:relative;
}

.card2 {
	top: 0;
	position:absolute;
	background-color: #ffffff;
	z-index: 5;
}

.content {
	position: absolute;
	top:50px;
	left:0;
	width:100%;
	height:450px;
	overflow:auto;
	z-index: 1;
}

.main {
	height: 500px;
	width: 500px;
	max-width: 1000px;
	border: 1px solid red;
	overflow: auto;
	position:relative;
}