body, html, #canvas-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
#support {
    bottom: 20px;
    color: #FFF;
    cursor: pointer;
    font-size: 14px;
    font-size: 1.4rem;
    left: 40px;
    position: fixed;
    z-index: 2000;
}
#support:hover h2 {
    opacity: 1;
}
#support:hover .links {
    height: auto;
    opacity: 1;
    padding-bottom: 4px;
    -webkit-transition-property: opacity, padding;
    -moz-transition-property: opacity, padding;
    transition-property: opacity, padding;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    visibility: visible;
    width: auto;
}
#support h2 {
    background: #203442;
    border-radius: 2px;
    color: inherit;
    display: inline-block;
    font-size: inherit;
    line-height: 1;
    margin: 0;
    opacity: 0.9;
    padding: 10px;
}
#support .links {
    bottom: 100%;
    height: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    width: 0;
}
#support .links a {
    background: #203442;
    color: white;
    display: block;
    padding: 10px;
    text-align: left;
    white-space: nowrap;
}
#support .links a:first-child {
    border-radius: 2px 2px 0 0;
}
#support .links a:last-child {
    border-radius: 0 0 2px 2px;
}
#support .links a:hover, #support .links a:active {
    background: #364854;
}
/*#support .links a:before {
    font-family: icons;
    font-variant: normal;
    font-weight: normal;
    speak: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    opacity: 0.5;
    margin-right: 10px;
}
#support .links a.chat:before {
    content: '=';
}
#support .links a.help:before {
    content: '0';
}
#support .links a.documentation:before {
    content: '-';
}
*/

.btn-outline {
    color: #0077AB;
    background-color: transparent;
    border-color: #0077AB
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
    color: #fff;
    background-color: #0077AB;
    border-color: #0077AB
}
.btn-outline-inverse {
    color: #fff;
    background-color: transparent;
    border-color: #9ee1ff
}
.btn-outline-inverse:hover, .btn-outline-inverse:focus, .btn-outline-inverse:active {
    color: #0077AB;
    text-shadow: none;
    background-color: #fff;
    border-color: #fff
}
#canvas-container {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.nogap {
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    position: absolute !important;
}
.smallblock {
    margin: 0px;
    padding: 10px 5px 1px;
}
.square iframe {
    width: 100% !important;
    height: 100% !important;
}
paper-toast {
    z-index: 1030;
}
#loginbackground {
    background-image: url('/img/placeholders/photos/starrynight.jpg');
    background-color: transparent;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#popup core-menu {
    max-height: 350px;
    overflow-y: scroll;
}
button[name=fullscreen-off] {
    display: none;
    padding: 2px 6px 3px;
    opacity: 0.5;
    -webkit-transition: opacity 250ms ease;
    -moz-transition: opacity 250ms ease;
    -o-transition: opacity 250ms ease;
    transition: opacity 250ms ease;
}
button[name=fullscreen-off]:hover {
    opacity: 1;
}
.table.table-pricing.table-muted th {
    background-color: #cccccc;
}
/* entity */

.entity > .cover-image {
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
}
.entity > .slant-box {
    width: 0;
    height: 80px;
    margin-top: -80px;
    border-right: 320px solid transparent;
    border-bottom: 80px solid white;
}
.entity > .content {
    padding: 8px;
    background: white;
}
.entity > .content > .title {
    width: 50%;
    margin-top: -48px;
    margin-bottom: 4px;
    color: #2ecc71;
}
.entity > .content > .name {
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 2em;
}
paper-fab {
    z-index: 2;
    position: absolute;
    color: white;
    background: #259b24;
}
.square {
    display: block;
    position: absolute !important;
    width: 100px;
    height: 100px;
    margin: 0;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    cursor: move;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}
/*.square.selected {
    background-color: #d0f8ce;
}
.square.highlight {
    background-color: #ffee58;
}*/
/*There should only be one tile*/

#tile {
    position: absolute !important;
    height: 100px;
    width: 100px;
    display: block;
    padding: 0;
    margin: 0;
}
#tile:hover {
    background-color: #5192f7;
}
/*.square img {
    max-width: 100%;
    max-height: 100%;
}*/

#popup {
    display: none;
    z-index: 100000;
    position: fixed !important;
    top: 35%;
    left: 50%;
    width: 600px;
    margin-top: -50px;
    margin-left: -300px;
    border-radius: 5px;
    background: #ecf0f1;
}
#popup paper-item {
    height: 40px;
    font-size: 16px;
    background: white;
}
#popup paper-item:hover {
    background: #ecf0f1;
}
#popup paper-item[selected="true"] {
    background: #ecf0f1;
}
#command {
    width: 100%;
    height: 80px;
    border: 0;
    padding: 0 20px;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 300;
    outline: none;
}
#command:focus {
    outline: none;
}
/*Deprecated*/

.square .overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    color: whitesmoke;
    background-color: rgba(44, 62, 80, 0.70);
}
.navmenu-nav > li > button {
    width: 100px;
    height: 100px;
    border-radius: 0;
    white-space: normal;
}
/*custom fab icon style*/

paper-fab.nano {
    width: 32px;
    height: 32px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
paper-fab.nano /deep/ #icon {
    width: 16px;
    height: 16px;
    margin: 8px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
paper-fab.nano:hover {
    width: 40px;
    height: 40px;
    margin-top: -4px;
    margin-left: -4px;
}
paper-fab.nano:hover /deep/ #icon {
    width: 24px;
    height: 24px;
}
