<template name="create">
    <!-- Page content -->
    <div class="block text-center">
        <h1>Create a new Canvas</h1>
        <hr>
        <div class="form-group">
            <div class="col-md-8 col-md-offset-2">
                <input id="canvas-title" type="text" placeholder="Canvas Title" name="title" class="form-control input-lg">
            </div>
        </div>
        <div class="clearfix"></div>
        <h3>Choose canvas size</h3>

        <div class="row">
            <div class="col-sm-3">
                <table data-width="3" data-height="10" class="table table-pricing table-borderless">
                    <thead>
                        <tr>
                            <th>Mobile</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <h2>
                                    <strong>3&times;10</strong>
                                </h2>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-3">
                <table data-width="10" data-height="10" class="table table-pricing table-borderless">
                    <thead>
                        <tr>
                            <th>Medium</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <h2>
                                    <strong>10&times;10</strong>
                                </h2>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-3">
                <table data-width="16" data-height="16" class="table table-pricing table-borderless">
                    <thead>
                        <tr>
                            <th>Large</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <h2>
                                    <strong>16&times;16</strong>
                                </h2>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-3">
                <table data-width="99" data-height="99" class="table table-pricing table-borderless">
                    <thead>
                        <tr>
                            <th>Ultimate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <h2>
                                    <strong>99&times;99</strong>
                                </h2>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div name="submit-button" class="col-md-4 btn btn-lg btn-outline">Create</div>
        </div>
    </div>
</template>
